    </hr>
    <div class="row">
        <div class="col s12 m4 s3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                         src="https://gitlab.com/uploads/project/avatar/1734068/sir_bot_a_lot_small.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sir bot a lot<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://gitlab.com/PythonDevCommunity/sir-bot-a-lot">Gitlab repo</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Awesome slack bot built with python asyncho</p>
                </div>
            </div>
        </div>
    <!-- Provisional filler -->
    <div class="col s12 m4 s3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                         src="https://gitlab.com/uploads/project/avatar/1734068/sir_bot_a_lot_small.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sir bot a lot<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://gitlab.com/PythonDevCommunity/sir-bot-a-lot">Gitlab repo</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Awesome slack bot built with python asyncho</p>
                </div>
            </div>
        </div>
    <div class="col s12 m4 s3">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                         src="https://gitlab.com/uploads/project/avatar/1734068/sir_bot_a_lot_small.png">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sir bot a lot<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="https://gitlab.com/PythonDevCommunity/sir-bot-a-lot">Gitlab repo</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Awesome slack bot built with python asyncho</p>
                </div>
            </div>
        </div>
    </div>

